ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 20px;
    a{
        text-decoration: none;
        color: black;
    }
}
#bar{
    text-align: center;
    padding-top: 50px;
}
.center{
    padding-top: 87px;
    text-align: center;
    
}
.input{
    display: flex;
    z-index:3;
    height:44px;
    background: #fff;
    border:2px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin:0 auto;
    width: calc(632px +6px);
    width :440px;
    max-width:584px;

    }
.button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Google Sans, Arial, sans-serif;
    font-optical-sizing: none;
    font-size: 14px;
    font-weight: 500;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}    
#adv-form {
    width: 600px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #222;
}

.row {
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 20px;
}

input[type="text"] {
    height: 28px;
    padding: 4px 6px;
    font-size: 13px;
}
button {
background-color: #1a73e8;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      margin-top: 20px;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
    
}
